.comment {
  background-color: #f8f8f8;
  border: 1px solid #c0c0c0;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 15px;
}
.comment:hover {
  transform: translateY(-1px);
  filter: drop-shadow(2px 2px rgba(0, 0, 0, 0.225));
}
.comment header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.comment header h4 {
  margin: 0;
  font-size: 18px;
  color: #121212;
}
.comment header time {
  color: #777;
}
.comment p {
  margin: 0;
  line-height: 1.5;
}
.comment footer {
  display: flex;
  align-items: center;
}
.comment footer :nth-child(1):hover,
.comment footer :nth-child(3):hover {
  cursor: pointer;
}
.comment footer span {
  margin: 0 0.5rem;
}
.comment footer .reply {
  font-family: monospace;
}
.comment footer .reply:hover {
  color: #121212;
  cursor: pointer;
}