.input-wrapper {
  position: relative;
  width: 100%;
  height: 3rem;
  margin: 0.75rem 0;
}
.input-wrapper input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 2.75rem;
  font-family: monospace;
  font-size: 1rem;
  color: #fff;
  padding: 1.25rem 3rem 1.25rem 1.25rem;
}
.input-wrapper input::placeholder {
  color: #888;
}
.input-wrapper i {
  position: absolute;
  right: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
}
.input-wrapper .error {
  margin: 1rem 0 1rem 2rem;
  color: tomato;
}