.reply {
  background-color: #ececec;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 1rem 0 1rem 1.2rem;
  padding: 15px;
}
.reply header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.reply header h4 {
  margin: 0;
  font-size: 16px;
  color: #da2f2f !important;
}
.reply header time {
  color: #777;
}
.reply p {
  margin: 0;
  line-height: 1.5;
}