.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 8px 16px;
    border: 1px solid #888;
    border-radius: 5px;
    text-decoration: none;
    color: black;
  }
  
  button.active {
    background-color: black;
    color: white;
    border: 1px solid black;
  }
  
  .pagination button:hover:not(.active) {
    background-color: #ddd;
  }
  