$primaryColor: #dadada;
$backgroundColor: #000000;
$borderRadius: 8px;

.comment {
  background-color: $backgroundColor;
  border: 1px solid #505050;
  border-radius: $borderRadius;
  margin-bottom: 0.5rem;
  padding: 1rem;

  &:hover {
    transform: translateY(-1px);
    filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.225));
  }

  > .comment-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: monospace;

    div {
      display: flex;
      align-items: center;
      .icon {
        padding-right: 0.75rem;
        color: #dfdfdf;

        &:hover {
          cursor: pointer;
          color: #fff;
          filter: drop-shadow(2px 2px 5px rgba(255,255,255,0225));
        }
      }
    }   

    time {
      color: #888;
    }

    > p {
      margin: 0;
      font-size: 0.75rem;
      color: $primaryColor;
    }
  }

  .text {
    margin: 0;
    font-size: 0.85rem;
    line-height: 1.5;
    color: $primaryColor;
  }

  footer {
    display: flex;
    align-items: center;
    font-size: 0.75rem;

    :nth-child(1),
    :nth-child(3) {
      color: #cfcfcf;
      &:hover {
        cursor: pointer;
      }
    }

    span {
      color: #cfcfcf;
      margin: 0 0.5rem;
    }

    .reply {
      font-family: monospace;
      color: #888;

        &:hover {
          color: $primaryColor;
          cursor: pointer;
      }
    }

    .icon {
      
    }
  }
}
