$primaryColor: #121212;
$backgroundColor: #f8f8f8;
$borderRadius: 8px;

.comment {
  background-color: $backgroundColor;
  border: 1px solid #c0c0c0;
  border-radius: $borderRadius;
  margin-bottom: 20px;
  padding: 15px;

  &:hover {
    transform: translateY(-1px);
    filter: drop-shadow(2px 2px rgba(0,0,0,.225));
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    h4 {
      margin: 0;
      font-size: 18px;
      color: $primaryColor;
    }

    time {
      color: #777;
    }
  }

  p {
    margin: 0;
    line-height: 1.5;
  }

  footer {
    display: flex;
    align-items: center;

    :nth-child(1),
    :nth-child(3) {
    &:hover {
        cursor: pointer;
    }
    }

    span {
        margin: 0 0.5rem;
    }

    .reply {
        font-family: monospace;

        &:hover {
            color: #121212;
            cursor: pointer;
        }
    }
  }
}

