$primaryColor: #121212;
$backgroundColor: #dfdfdf;
$borderRadius: 8px;

.comment {
  background-color: $backgroundColor;
  border: 1px solid #505050;
  border-radius: $borderRadius;
  margin-bottom: 0.5rem;
  padding: 1rem;

  &:hover {
    transform: translateY(-1px);
    filter: drop-shadow(1px 1px rgba(0,0,0,.225));
  }

  >.comment-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-family: monospace;

    >time {
      color: #777;
    }

    >p {
        margin: 0;
        font-size: 12px;
        color: $primaryColor;
    }
  }


  .text {
    margin: 0;
    line-height: 1.5;
    color: $primaryColor;
  }

  footer {
    display: flex;
    align-items: center;

    :nth-child(1),
    :nth-child(3) {
    &:hover {
        cursor: pointer;
    }
    }

    span {
        margin: 0 0.5rem;
    }

    .reply {
        font-family: monospace;

        &:hover {
            color: #121212;
            cursor: pointer;
        }
    }
  }
}

