.create-post {
  padding: 10vh 0;
  width: 100%;
  display: grid;
  place-content: center;
  background-color: #121212;
  font-family: monospace;

  h2 {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    color: white;
    font-size: 1.25rem;
  }

  .form {
    width: 90vw;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 5px;
    padding: 30px 40px;

    @media (min-width: 768px) {
      width: 60vw;
    }

    label {
      color: #f8f8f8;
    }
    .image-label {
      display: flex;
      align-items: center;

      .icon {
        margin: 0 0.5rem;
      }
    }

    .input-image-wrapper {
      position: relative;
      width: 100%;
      height: 3rem;
      margin: 0.75rem 0;
  
      input {
          width: 100%;
          height: 100%;
          background: transparent;
          border: none;
          outline: none;
          border: 1px solid rgba(255, 255, 255, .2);
          border-radius: 5px;
          font-family: monospace;
          font-size: 1rem;
          color: #fff;
          padding: 1.25rem 3rem 1.25rem 1.25rem;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-around;
    }

    button {
      position: relative;
      width: 100%;
      height: 3rem;
      background: transparent;
      border: none;
      outline: none;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      font-family: monospace;
      font-size: 1rem;
      color: #fff;
      padding: 0.75rem 3rem;
      transition: all 0.3s ease;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0%;
        height: 100%;
        background: linear-gradient(315deg, #32522e56 0%, #ffffff2c 80%);
        transition: width 0.25s ease-out, background 0.4s ease-in-out;
      }

      &:nth-of-type(1) {
        margin-right: 0.5rem;
      }

      &:hover {
        cursor: pointer;
         background: linear-gradient(315deg, #32522e56 0%, #ffffff2c 80%);
        &::after {
          width: 100%;
          right: auto;
          left: 0;
        }

        &:nth-of-type(2) {
          background: linear-gradient(315deg, #70321d41 0%, #ffffff1a 80%);
        }
      }
    }
  }

  .register-link {
    margin: 1rem 0;
    text-align: center;
    p {
      color: #888;
    }
    a {
      color: #eeeeee;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
