.sign-up {
  padding: 10vh 0;
  width: 100%;
  display: grid;
  place-content: center;
  background-color: #121212;
  font-family: monospace;

  h2 {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    color: white;
    font-size: 1.25rem;
  }

  .form {
    width: 420px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 5px;
    padding: 30px 40px;

    label {
        color: #f8f8f8;
    }

    button {
      width: 100%;
      height: 3rem;
      background: transparent;
      border: none;
      outline: none;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 5px;
      font-family: monospace;
      font-size: 1rem;
      color: #fff;
      padding: 0.75rem 3rem;
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        background: rgba(255, 255, 255, 0.2);
      }
    }
  }

  .register-link {
    margin: 1rem 0;
    text-align: center;
    p {
      color: #888;
    }
    a {
      color: #eeeeee;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
