$primaryColor: #dadada;
$backgroundColor: #000000;
$borderRadius: 8px;


.post {
  margin: 0.725rem;
  padding: 1rem;
  width: 100%;
  height: fit-content;
  min-height: 15rem;
  display: flex;
  flex-direction: column; 
  border-radius: 5px;
  background-color: #121212;
  color: white;
  font-family: 'Roboto', sans-serif;
  transition: background 0.4s ease-out;

  @media (min-width: 768px) {
    margin: 0 auto;
    width: 60vw;
  }

    &:hover {
      background-color: #282828;
      cursor: pointer;
    }


    .post-header {
      padding: 0 0.5rem;
      height: 3rem;
      background-color: black;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: monospace;
  
      p {
        color: #dfdfdf;
        span {
          color: #888;
        }
      }

      div {
        display: flex;
        align-items: center;
        .icon {
          padding-right: 0.75rem;
          color: #dfdfdf;
  
          &:hover {
            cursor: pointer;
            color: #fff;
            filter: drop-shadow(2px 2px 5px rgba(255,255,255,0225));
          }
        }
      }       
  
      time {
        color: #888;
      }
    }

    .post-info {
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
  
      a {
        padding: 1rem 0;
        text-decoration: none;
        h2 {
          color: #F96716;
          font-size: 1.25rem;
          font-weight: 800;
          span {
            color: rgb(69, 194, 194);
            font-weight: 200;
          }
        }
      }

      h2 {
        color: #F96716;
        font-size: 1.25rem;
        font-weight: 800;
      }
  
     
    .post-body {
      padding: 1rem 0;    

      p {
        color: #dfd9d9;
      }
    }
    }

    footer {
      display: flex;
      align-items: center;
      font-size: 0.75rem;
      font-family: monospace;

      .comments {
        margin-left: 1rem;
        color: #888;
      }
  
      .icon {
        margin: 0 0.5rem;
      }
      .reply {
        margin: 0 0.5rem 0 1rem;
        color: #888;
  
          &:hover {
            color: $primaryColor;
            cursor: pointer;
        }
      }
  }
  .comments-list {
    margin: 1rem 0;
  }
}