.post {
  margin: 0.725rem;
  padding: 1rem;
  width: 100%;
  height: fit-content;
  min-height: 15rem;
  display: flex;
  flex-direction: column; 
  border-radius: 0.75rem;
  background-color: #121212;
  color: white;
  font-family: 'Roboto', sans-serif;
  transition: background 0.4s ease-out;

  @media (min-width: 768px) {
    margin: 0 auto;
    width: 60vw;
  }

    &:hover {
      background-color: #282828;
      cursor: pointer;
    }


    .post-header {
      padding: 0 0.5rem;
      height: 3rem;
      background-color: black;
      border-radius: 0.75rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: monospace;
  
      p {
        color: #dfdfdf;
        span {
          color: #888;
        }
      }

      p {
        display: flex;
        align-items: center;
        .icon {
          padding-right: 0.75rem;

          &:hover {
            cursor: pointer;
            color: #fff;
          }
        }
      }        
  
      time {
        color: #888;
      }
    }

    .post-info {
      display: flex;
      flex-direction: column;
      padding: 0.5rem;
  
      a {
        padding: 1rem 0;
        text-decoration: none;
        h2 {
          color: #fff;
          font-size: 1.25rem;
          font-weight: 600;
          span {
            color: rgb(69, 194, 194);
          }
        }
      }
  
     
    section {
      padding: 1rem 0;    

      p {
        color: #dfd9d9;
      }
    }
    }

  }
  
  .vote {
    text-align: center;
    margin-right: 10px;
  }
  
  .vote button {
    display: block;
    margin-bottom: 5px;
  }
  
  .comments {
    padding: 1rem;

    h2 {
      padding: 1rem 0;
    }
  }