.textarea-wrapper {
    position: relative;
    width: 100%;
    height: 5rem;
    margin: 0.75rem 0;

    textarea {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        border: 1px solid rgba(255, 255, 255, .2);
        border-radius: 5px;
        font-family: monospace;
        font-size: 1rem;
        color: #fff;
        padding: 1.25rem 3rem 1.25rem 1.25rem;

        &::placeholder{
            color: #888;
        }
    }
}