.image-container {
    margin: 2rem 0;
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    overflow: hidden;

    @media (min-width: 768px) {
        margin: 2rem auto;
        max-width: 40%;
    }

    @media (min-width: 1200px) {
        margin: 2rem auto;
        max-width: 30%;
    }

    img {
        width: 100%;
        height: auto;
    }
}