.comment-form {
  position: relative;
  margin: 2rem 0;
  padding: 0.5rem;

  h2 {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .textarea-wrapper {
    position: relative;
    width: 100%;
    height: 5rem;
    margin: 0.75rem 0;

    textarea {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      border: 1px solid rgba(255, 255, 255, 0.692);
      border-radius: 5px;
      font-family: monospace;
      font-size: 1rem;
      color: #fff;
      padding: 0.5rem;

      &::placeholder {
        color: #888;
      }
    }
  }
.buttons-container {
  display: flex;
  align-items: center;
}
  button {
    display: grid;
    place-content: center;
    position: relative;
    width: 100%;
    height: fit-content;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.692);
    border-radius: 5px;
    font-family: monospace;
    font-size: 1rem;
    color: #fff;
    padding: 0.5rem 1.5rem;
    transition: all 0.3s ease;

    @media (min-width: 768px) {
      width: fit-content;
    }

    &:hover {
      cursor: pointer;
      background: rgba(255, 255, 255, 0.2);
    }
  }
}
