.votes {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  padding: 0.25rem 0;

  button {
    outline: none;
    border: none;
    background: transparent;
    color: #dfdfdf;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: rgb(209, 235, 217);
      cursor: pointer;
    }
  }
  .down-btn {
    &:hover {
      color: rgb(233, 201, 195);
    }
  }

  span {
    color: #888;
    margin: 0 0.5rem;
  }
}
