$backgroundColor: #ecf0f1;
$color: #282828;
.comments {
    width: 100%;
    background-color: $backgroundColor;
    padding: 20px;

  @media (min-width: 960px) {
    margin: 0 auto;
    width: 50%;
  }
}