// PostComponent.module.scss
.post {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  background: transparent;
  color: white;
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: fit-content;
  height: 100%;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    background: linear-gradient(320deg, #111111 0%, #0c0c0c 67%);
    transition: height 0.2s ease-in, background 0.4s ease-in-out;
  }

  &:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.775);
    cursor: pointer;

    &::after {
      height: 100%;
      bottom: 0;
      top: auto;
    }
  }

  @media (min-width: 768px) {
    margin: 0;
    padding: 1rem 0;
  }

  header {
    padding: 0 0.5rem;
    height: 3rem;
    background-color: black;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: monospace;

    @media (min-width: 768px) {
      height: 2rem;
    }

    p {
      color: #dfdfdf;
      span {
        color: #888;
      }
    }

    time {
      color: #888;
    }
  }

  /*  .media-container {
    flex: 1;

    .media {
      img,
      video {
        width: 100%;
        height: auto;
      }
    }
  } */

  .post-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;

    a {
      padding: 1rem 0;
      text-decoration: none;
      h2 {
        color: #fff;
        font-size: 1.25rem;
        font-weight: 600;
        span {
          color: rgb(69, 194, 194);
          font-weight: 200;
          font-style: italic;
        }
      }
    }

    section {
      padding: 1rem 0;

      p {
        color: #dfd9d9;
      }
    }

    .link {
      border-radius: 5px;
      padding: 1rem 0;
      transition: background 0.4s ease-in-out;
      a {
        padding: 1rem 0;
        text-decoration: none;
        color: #629fff;
        transition: padding 0.5s ease-in-out;
      }

      &:hover {
        background: #121212;
        a {
          padding-left: 0.5rem;
          color: #68a0fa;
        }
      }
    }
  }
}
