// PostComponent.module.scss
.post {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    min-height: 360px;
    max-height: fit-content;

    @media (min-width: 768px) {
      width: 40vw;
    }
  
    .media-container {
      flex: 1;
  
      .media {
        img,
        video {
          width: 100%;
          height: auto;
        }
      }
    }
  
    .post-info {
      flex: 2;
      padding: 0 20px 0 0;
  
      .title {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
  
      .metadata {
        color: #666;
        font-size: 0.8rem;
        margin-bottom: 10px;
  
        .username {
          margin-right: 10px;
        }
      }
  
      .description {
        font-size: 1rem;
        line-height: 1.4;
      }
    }
  }
  