$primaryColor: #91bff3;
$backgroundColor: #2c2c2c;
$borderRadius: 8px;

.reply {
    background-color: $backgroundColor;
    border: 1px solid #ddd;
    border-radius: $borderRadius;
    margin: 1rem 0 1rem 1.2rem;
    padding: 15px;
  
    header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
  
      h4 {
        margin: 0;
        font-size: 16px;
        color: $primaryColor !important;
      }
  
      time {
        color: #777;
      }
    }
  
    p {
      margin: 0;
      line-height: 1.5;
    }
  }